# x-archived-from: xpansiv-managed-solutions-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.0.0
info:
  title: Xpansiv Managed Solutions API
  description: >-
    Access data from your Xpansiv Managed Solutions account using API calls.


    You can generate an API key for your user on Xpansiv Managed Solutions <a
    href="https://www.ms.xpansiv.com/app/api_access/manage">API Access page</a>.
    The API key is linked to a user and an account, and has the same rights as
    the user on the account.


    When calling Xpansiv Managed Solutions API use that API key to set the
    Bearer Token authentication header.
  contact:
    email: developers@xpansiv.com
  version: '1.10'
servers:
  - url: https://www.ms.xpansiv.com/app/api/v1
paths:
  /facilities/{facility_id}:
    get:
      tags:
        - Facilities
      summary: Facility
      description: >-
        Retrieve detailed information about a facility by its ID, including
        owner, installer, and certification data.
      operationId: getFacilityById
      parameters:
        - name: facility_id
          in: path
          description: ID of the facility to retrieve
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Facility data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityResponse'
                    type: object
        '400':
          description: Invalid facility ID provided or facility not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityGetMissingIdError'
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '404':
          description: Facility not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityGetError'
                    type: object
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ServerError'
                    type: object
    patch:
      tags:
        - Facilities
      summary: Update facility
      description: >-
        Partially updates an existing facility via `PATCH
        /api/v1/facilities/{facility_id}`. Send only the fields to change.


        The request body accepts: `facilityCreateOrUpdate`,
        `facilityDggCreateOrUpdate`, `facilityAbpCreateOrUpdate`, or the legacy
        flat formats `facilityFlatCreateOrUpdate`,
        `facilityDggFlatCreateOrUpdate`, and `facilityAbpFlatCreateOrUpdate`.


        - **Partial mode:** send query parameter `partial=true` to relax
        required-field validation. In partial mode, required-field validation is
        relaxed while format/type validation still applies.
      operationId: updateFacility
      parameters:
        - name: facility_id
          in: path
          description: ID of the facility to update
          required: true
          schema:
            type: integer
        - name: partial
          in: query
          description: Enable update with partial data. Accepts `true`, `1`, or `yes`.
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/facilityCreateOrUpdate'
                - $ref: '#/components/schemas/facilityDggCreateOrUpdate'
                - $ref: '#/components/schemas/facilityAbpCreateOrUpdate'
                - $ref: '#/components/schemas/facilityFlatCreateOrUpdate'
                - $ref: '#/components/schemas/facilityDggFlatCreateOrUpdate'
                - $ref: '#/components/schemas/facilityAbpFlatCreateOrUpdate'
      responses:
        '200':
          description: Facility updated successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/facilityFlatCreateOrUpdateResponse200
                    type: object
        '400':
          description: >-
            Bad request — validation errors, invalid facility ID, or update
            failure
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ValidationError'
                    type: object
        '401':
          description: Unauthorized — missing API key or invalid token
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: Facility not visible to the authenticated account
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AccessForbiddenError'
                    type: object
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ServerError'
                    type: object
  /facilities:
    get:
      tags:
        - Facilities
      summary: Facilities
      description: >-
        Retrieve the list of facilities in your Xpansiv Managed Solutions
        account with pagination.
      operationId: getFacilityListForAccount
      parameters:
        - name: account_id
          in: query
          description: >-
            Account whose facilities to list. Defaults to the authenticated
            user's active account. **Admin only** when targeting another
            account; non-admins receive 403 if set to a different account.
          required: false
          schema:
            type: integer
            example: 4242
            minimum: 1
        - name: per_page
          in: query
          description: >-
            Number of facilities to display per page. If a value greater than
            1000 is provided, it will be coerced to 1000.
          required: false
          schema:
            type: integer
            default: 50
            maximum: 1000
            minimum: 1
        - name: page
          in: query
          description: The current page number
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: program
          in: query
          description: Narrows the list to facilities in a program.
          required: false
          schema:
            type: string
            example: dgg
            enum:
              - dgg
        - name: search
          in: query
          description: Search term matched against facility name
          required: false
          schema:
            type: string
            example: solar
        - name: utility_ids
          in: query
          description: Comma-separated utility IDs to filter by
          required: false
          schema:
            type: string
            example: 12,34
        - name: auto_reporter_ids
          in: query
          description: >-
            Comma-separated auto-reporter (remote data collector) IDs to filter
            by
          required: false
          schema:
            type: string
            example: 5,6
        - name: commencement_date_from
          in: query
          description: >-
            Filter by facility commencement date on or after this day
            (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: commencement_date_to
          in: query
          description: >-
            Filter by facility commencement date on or before this day
            (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
            example: '2025-12-31'
        - name: exclude_managed_facility_group_members
          in: query
          description: >-
            When true, omit facilities that belong to a managed facility group
            owned by the listed account.
          required: false
          schema:
            type: boolean
            example: true
        - name: ticket_owner_ids
          in: query
          description: Comma-separated ticket owner user IDs to filter by
          required: false
          schema:
            type: string
            example: 125,126
      responses:
        '200':
          description: Successfully retrieved facilities
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - $ref: '#/components/schemas/FacilitiesListForAccountList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: Forbidden — non-admin requested another account's facilities
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/Error'
                    type: object
    post:
      tags:
        - Facilities
      summary: Create facility
      description: >-
        Creates a new facility for your account via `POST /api/v1/facilities`.
        The JSON body must be one of:

         `facilityCreateOrUpdate` for **Standard Facility** : grouped payload using `address`, `owner`, `installer`, and `meter` objects. Optional `panels` and `inverters` arrays.

         `facilityDggCreateOrUpdate` for **California Distributed Generation Program** (DGG). 

         - Send `dgg: true` and `state: 'CA'`. 

         - **Metering vs QRE:** `can_provide_solar_production_data_access` is required—when **true**, send `meter_remote_data_collector` and `online_monitoring_api_id`; when **false**, send `qualified_reporting_entity` and `qualified_reporting_entity_id_value`. 

         - Program access: the DGG program is not open to all users; to join, contact our support team.

         `facilityAbpCreateOrUpdate` for **Illinois Adjustable Block Program** (ABP). 

         - Send `address.state: 'IL'`. Your account must be ABP-enabled.

         - Include ABP-specific fields (see schema), `panels[].bifacial`, `inverters[].efficiency`, and `installer_demographics`.

         - After create, call `GET /facilities/{id}/state_eligibilities` for required document slugs before `POST /facilities/{id}/documents`.

         - Program access: Illinois ABP via API is limited to authorized accounts; contact our support team to enroll.

         **Partial mode:** send query parameter `partial=true` to create a facility with partial data. In partial mode, required-field validation is relaxed while format/type validation still applies.

         Legacy flat formats `facilityFlatCreateOrUpdate`, `facilityDggFlatCreateOrUpdate`, and `facilityAbpFlatCreateOrUpdate` remain supported for backwards compatibility and will be deprecated in a future release.
                    This API endpoint only support Solar Photovoltaic facilities.
      operationId: createFacility
      parameters:
        - name: partial
          in: query
          description: >-
            Enable creation of facility with partial data. Accepts `true`, `1`,
            or `yes`.
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/facilityCreateOrUpdate'
                - $ref: '#/components/schemas/facilityDggCreateOrUpdate'
                - $ref: '#/components/schemas/facilityAbpCreateOrUpdate'
                - $ref: '#/components/schemas/facilityFlatCreateOrUpdate'
                - $ref: '#/components/schemas/facilityDggFlatCreateOrUpdate'
                - $ref: '#/components/schemas/facilityAbpFlatCreateOrUpdate'
      responses:
        '200':
          description: Facility created successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/facilityFlatCreateOrUpdateResponse200
                    type: object
        '400':
          description: Bad request - authorization or validation errors
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ValidationError'
                    type: object
        '401':
          description: >-
            Unauthorized — missing API key, invalid token, or user lacks
            facility edit permission
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: Access denied for creating a DGG facility
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AccessForbiddenError'
                    type: object
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ServerError'
                    type: object
  /facilities/{facility_id}/transactions:
    get:
      tags:
        - Transactions
      summary: Get Transaction Summary/History
      description: Returns transaction summary/history for a facility.
      operationId: getTransactionsHistory
      parameters:
        - name: facility_id
          in: path
          description: ID of the facility to retrieve transactions for
          required: true
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of transactions to display per page. Maximum 1000.
          required: false
          schema:
            type: integer
            default: 50
            maximum: 1000
            minimum: 1
        - name: page
          in: query
          description: The current page number
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
      responses:
        '200':
          description: Transaction summary/history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - $ref: '#/components/schemas/FacilityTransactionsPaginatedResponse'
        '400':
          description: Bad request - invalid facility ID format
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/TransactionsInvalidFacilityIdError
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: Access denied or facility closed/lost
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/TransactionsForbiddenError'
                    type: object
        '404':
          description: Facility not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/TransactionsNotFoundError'
                    type: object
  /facilities/{facility_id}/state_eligibilities:
    get:
      tags:
        - Facilities
      summary: State Eligibilities
      description: >-
        Retrieve state eligibility and required documents for a facility. For
        Illinois ABP, use the returned `documents[].upload_field_name` values as
        `document_name` when calling `POST /facilities/{id}/documents`. Required
        documents depend on facility attributes (e.g. `net_metering_approved`);
        always use this endpoint rather than a static slug list.
      operationId: getFacilityStateEligibilities
      parameters:
        - name: facility_id
          in: path
          description: The ID of the facility to fetch eligibility details for.
          required: true
          schema:
            type: integer
            example: 130240
      responses:
        '200':
          description: Successful response with state eligibility details.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityStateEligibilitiesList'
                    type: object
        '400':
          description: Bad Request - The request was invalid or cannot be otherwise served.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityGetMissingIdError'
                    type: object
        '404':
          description: Not Found - The requested facility was not found.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityGetError'
                    type: object
  /facilities/{facility_id}/state_applications:
    post:
      tags:
        - Facilities
      summary: State Application
      description: Apply to a new state to be certified to generate RECs.
      operationId: createFacilityStateApplication
      parameters:
        - name: facility_id
          in: path
          description: The ID of the facility linked to the new application.
          required: true
          schema:
            type: integer
            example: 130240
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFacilityStateApplicationRequest'
      responses:
        '200':
          description: State application created successfully for the given state
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/StateApplicationCreateData'
                    type: object
        '400':
          description: Bad request - authorization or validation errors
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ValidationError'
                    type: object
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ServerError'
                    type: object
  /facilities/{facility_id}/documents:
    post:
      tags:
        - Facilities
      summary: Facilities Documents
      description: >-
        Upload documents or photos for a facility (multipart form). Call `GET
        /facilities/{facility_id}/state_eligibilities` first to obtain each
        document's `upload_field_name` slug. For Illinois ABP, common slugs
        include `proof_of_irrevocable_transfer`, `proof_of_residential`, and
        `proof_of_site_control`; the eligibility response is authoritative.
      operationId: uploadFacilityDocuments
      parameters:
        - name: facility_id
          in: path
          description: The ID of the facility
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFacilityDocumentsRequest'
      responses:
        '200':
          description: Documents uploaded successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/uploadFacilityDocumentsResponse'
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
  /facilities/{facility_id}/state_certifications:
    post:
      tags:
        - Facilities
      summary: State Certifications
      description: >-
        Add state certificates to a facility. This endpoint is accessible for
        certain user only. If you want to use it, please contact Xpansiv Managed
        Solutions.
      operationId: addFacilityStateCertification
      parameters:
        - name: facility_id
          in: path
          description: The ID of the facility linked to the state certification.
          required: true
          schema:
            type: integer
            example: 130240
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFacilityStateCertificationRequest'
      responses:
        '200':
          description: State certification created successfully for the given state
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/StateCertificationCreateData'
                    type: object
        '400':
          description: Bad request - authorization or validation errors
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ValidationError'
                    type: object
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ServerError'
                    type: object
  /facilities/{facility_id}/validate:
    get:
      tags:
        - Facilities
      summary: Validate facility
      description: >-
        Runs the same validation checks as facility completion (required fields,
        program eligibility, and missing documents) without changing facility
        state. Success and error payloads match `POST
        /facilities/{facility_id}/complete`. Use to inspect issues before
        calling complete.
      operationId: validateFacility
      parameters:
        - name: facility_id
          in: path
          description: The ID of the facility to validate.
          required: true
          schema:
            type: integer
            example: 130240
      responses:
        '200':
          description: >-
            Facility passes the same checks as completion (or is already
            completed)
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityCompleteSuccess'
                    type: object
        '400':
          description: >-
            Bad request — missing facility_id, facility not found, closed-lost,
            or missing documents
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityCompleteError'
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: Facility not visible to the authenticated account
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityGetError'
                    type: object
        '404':
          description: Bad request URL or resource not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/Error'
                    type: object
        '422':
          description: >-
            Unprocessable — validation failed, no eligible states, or
            fee-bearing states
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 422
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityCompleteError'
                    type: object
  /facilities/{facility_id}/complete:
    post:
      tags:
        - Facilities
      summary: Complete facility application
      description: >-
        Validate and complete a facility application via `POST
        /api/v1/facilities/{facility_id}/complete`.

         **Prerequisites:** create or update the facility (`POST` / `PATCH /facilities`), then call `GET /facilities/{facility_id}/state_eligibilities` to determine eligible states and required document slugs, and upload documents via `POST /facilities/{facility_id}/documents`.

         - **`states`:** optional. When omitted or empty, all eligible zero-fee (or fee-waived) states are completed. When provided, only those states are completed.

         - **Fees:** only zero-fee or fee-waived states can be completed via the API. States with a fee must be completed through the web checkout flow.

         - **`agree_to_terms_and_conditions`:** Must be `true`. By setting this field to `true` you agree to the following terms and conditions:

         > I, (Name), hereby consent to SRECTrade Inc, dba Xpansiv Managed Solutions serving as my Agent in the Registration of "[Facility Name]" ("Generation Unit") as a qualified renewable energy generator, within a state's program that may provide an opportunity to sell renewable energy certificates (RECs), or other environmental attributes, from the Generation Unit during its eligibility period, and for providing additional and updated information to the appropriate entities as may be required during and after the certification and registration process. Furthermore, if I am not the rightful owner of the Generation Unit and/or the RECs, or other environmental attributes, I affirm that I have been granted permission by the owner(s) to act as the Applicant in order to submit an application for the Generation Unit with SRECTrade Inc, dba Xpansiv Managed Solutions and to act as the Representative in agreeing to the outlined Terms and Conditions.

         > I affirm that, to the best of my knowledge, the information that I provided in this application is complete and accurate. I agree that, should any changes be made to the information provided herein, I will contact SRECTrade Inc, dba Xpansiv Managed Solutions to notify it of such changes so that it may inform the appropriate entities. I acknowledge that failure to do so may impact the eligibility of the Generation Unit and its ability to generate RECs, or other environmental attributes. I understand that SRECTrade Inc, dba Xpansiv Managed Solutions assumes no liability for such impacts to the Generation Unit's eligibility. I understand that SRECTrade Inc, dba Xpansiv Managed Solutions does not guarantee nor warrant same day submission of the application to the state's program, which may impact the certification start date. I understand that the application process with the state's program is contingent on the program's timeline.

         > By my consent, I knowingly and freely agree to assume all the risks, both known and unknown, surrounding the Generation Unit's participation in the SREC, REC, or other environmental attribute programs as a qualified renewable energy generator. In recognition of the relative risks and benefits of this arrangement between myself ("Applicant") and SRECTrade Inc, dba Xpansiv Managed Solutions, the risks have been allocated such that I agree, to the fullest extent permitted by law, to limit the liability of SRECTrade Inc, dba Xpansiv Managed Solutions to the Applicant or to any third party for any and all claims, losses, costs, damages of any nature whatsoever or claims expenses from any cause or causes, including attorneys' fees and costs and expert witness fees and costs, so that the total aggregate liability SRECTrade Inc, dba Xpansiv Managed Solutions has to the Applicant or to any third party shall not exceed the greater of (a) the total fees I paid to SRECTrade Inc, dba Xpansiv Managed Solutions in the twelve (12) months prior to the action or transaction giving rise to the liability, and (b) U.S. $100.00.

         On success, missing state applications are created and the facility is submitted to Xpansiv Managed Solutions for review.
      operationId: completeFacility
      parameters:
        - name: facility_id
          in: path
          description: The ID of the facility to complete.
          required: true
          schema:
            type: integer
            example: 130240
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteFacilityRequest'
      responses:
        '200':
          description: Facility application completed successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityCompleteSuccess'
                    type: object
        '400':
          description: >-
            Bad request — invalid `states` format, missing terms agreement,
            invalid facility, or missing documents
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityCompleteError'
                    type: object
        '401':
          description: >-
            Unauthorized — missing API key, invalid token, or user lacks
            facility edit permission
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: Facility not visible to the authenticated account
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityGetError'
                    type: object
        '404':
          description: Bad request URL or resource not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/Error'
                    type: object
        '422':
          description: >-
            Unprocessable — facility already completed, validation failed, no
            eligible states, or fee-bearing states
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 422
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityCompleteError'
                    type: object
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ServerError'
                    type: object
  /facilities/{facility_id}/generation/history:
    get:
      tags:
        - Transactions
      summary: Get Production History
      description: Returns production history for a facility.
      operationId: getProductionHistory
      parameters:
        - name: facility_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Production history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - $ref: '#/components/schemas/ProductionHistoryPaginatedResponse'
        '400':
          description: Bad request — generation history could not be loaded
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ProductionHistoryBadRequestError'
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '404':
          description: Facility not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/FacilityGetError'
                    type: object
  /uploads/{upload_id}/errors/{row_id}/preview/{error_type}/{field}:
    get:
      tags:
        - Facility import error handling
      summary: Preview fix for one upload row’s error (same error group context)
      description: >-
        Like bulk preview, but scoped to a single row_id within the upload.
        fix_value is optional and passed to the fixer. Requires access to the
        upload (facilities, ABP, or DGG).
      operationId: facilityUploadSingleRowErrorPreview
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: row_id
          in: path
          description: Upload row identifier
          required: true
          schema:
            type: integer
            minimum: 1
        - name: error_type
          in: path
          required: true
          schema:
            type: string
        - name: field
          in: path
          required: true
          schema:
            type: string
        - name: fix_value
          in: query
          description: Optional proposed value for the fixer
          required: false
          schema:
            type: string
        - name: error_index
          in: query
          description: >-
            When multiple errors exist on the row for this error group, selects
            which error instance to preview (0-based). Invalid values return
            400.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Preview available
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/UploadSingleRowErrorPreviewSuccess
                    type: object
        '400':
          description: Invalid error_index query parameter
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/UploadErrorPreviewInvalidErrorIndexError
                    type: object
        '403':
          description: No access to this upload
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/UploadErrorPreviewForbiddenError'
                    type: object
        '404':
          description: Error group or fixer not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/UploadErrorPreviewNotFoundError'
                    type: object
  /uploads/{upload_id}/errors/preview/{error_type}/{field}:
    get:
      tags:
        - Facility import error handling
      summary: Preview bulk fix for an upload error group
      description: >-
        Returns a preview of proposed changes for all rows in the error group
        identified by error_type and field. Optional query parameter fix_value
        is passed to the fixer. Caller must have access to the upload
        (facilities, ABP, or DGG).
      operationId: facilityUploadErrorPreviewBulk
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: error_type
          in: path
          required: true
          schema:
            type: string
        - name: field
          in: path
          required: true
          schema:
            type: string
        - name: fix_value
          in: query
          description: Optional value passed to the fixer (e.g. replacement text).
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Preview succeeded
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/UploadBulkErrorPreviewSuccess'
                    type: object
        '403':
          description: No permission to access this upload
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/UploadErrorPreviewForbiddenError'
                    type: object
        '404':
          description: No matching error group or fixer
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/UploadErrorPreviewNotFoundError'
                    type: object
  /uploads/{upload_id}/errors/{row_id}/fix:
    post:
      tags:
        - Facility import error handling
      summary: Apply error fix for one upload row
      description: Facility import error handling
      operationId: facilityUploadApplyFixSingleRow
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: row_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyFixRequestBody'
      responses:
        '200':
          description: Fix applied
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/SingleFixSuccessResponse'
                    type: object
        '400':
          description: Missing fields, fix/validation failed
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApplyFixValidationErrorResponse'
                  - $ref: '#/components/schemas/ApplyFixFieldErrorResponse'
              examples:
                validation_failed_all_rows:
                  summary: Fix applied but validation failed (per-row errors)
                  value:
                    success: false
                    error: Validation failed
                    validation:
                      '7050956':
                        error: >-
                          The facility_size 30.2222kW is different than the
                          total panels capacity 28.615kW (DC).
                        attempted_value: '30.2222'
                      '7050957':
                        error: >-
                          The facility_size 30.2222kW is different than the
                          total panels capacity 29.585kW (DC).
                        attempted_value: '30.2222'
                    facility_creation_attempt: []
                missing_params:
                  summary: Fix applied but validation failed (per-row errors)
                  value:
                    success: false
                    error: No correction value provided
                    validation: {}
                    facility_creation_attempt: []
                invalid_error_index:
                  summary: error_index in body is not a valid integer
                  value:
                    success: false
                    error: Invalid error_index value.
        '403':
          description: No access to upload
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ForbiddenResponse'
                    type: object
  /uploads/{upload_id}/errors/fix:
    post:
      tags:
        - Facility import error handling
      summary: Apply error fix for all rows in the error group
      description: Facility import error handling
      operationId: facilityUploadApplyFixBulk
      parameters:
        - name: upload_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyFixRequestBody'
      responses:
        '200':
          description: Bulk fix applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkFixSuccessResponse'
              examples:
                mixed_create_outcomes:
                  summary: Validation OK; some facilities created, some errors
                  value:
                    success: true
                    facility_creation_attempt:
                      '7050928':
                        status: success
                        message: Facility created successfully
                        facility_id: 184869
                      '7050929':
                        status: error
                        message: A facility with this address already exists.
                      '7050930':
                        status: error
                        message: A facility with this address already exists.
                    validation: []
                validation_fine_but_facility_can_not_be_created:
                  summary: Validation OK; facility can not be created
                  value:
                    success: true
                    facility_creation_attempt:
                      '7050929':
                        status: error
                        message: A facility with this address already exists.
                    validation: []
                all_rows_success:
                  summary: Every row created a facility
                  value:
                    success: true
                    facility_creation_attempt:
                      '7050928':
                        status: success
                        message: Facility created successfully
                        facility_id: 184869
                      '7050929':
                        status: success
                        message: Facility created successfully
                        facility_id: 184870
                    validation: []
                partial_success_pending_and_validation_errors:
                  summary: One row pending (more errors); another row failed validation
                  value:
                    success: true
                    facility_creation_attempt:
                      '7050956':
                        status: pending
                        message: Facility candidate has more error to resolve
                    validation:
                      '7050957':
                        error: >-
                          The facility_size 28.615kW is different than the total
                          panels capacity 29.585kW (DC).
                        attempted_value: '28.615'
                partial_success_create_and_validation_errors:
                  summary: One row created a facility; another row failed validation
                  value:
                    success: true
                    facility_creation_attempt:
                      '7050956':
                        status: success
                        message: Facility created successfully
                        facility_id: 184869
                    validation:
                      '7050957':
                        error: >-
                          The facility_size 28.615kW is different than the total
                          panels capacity 29.585kW (DC).
                        attempted_value: '28.615'
        '400':
          description: Missing fields or fix/validation failed
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApplyFixValidationErrorResponse'
                  - $ref: '#/components/schemas/ApplyFixFieldErrorResponse'
              examples:
                validation_failed_all_rows:
                  summary: Fix applied but validation failed (per-row errors)
                  value:
                    success: false
                    error: Validation failed
                    validation:
                      '7050956':
                        error: >-
                          The facility_size 30.2222kW is different than the
                          total panels capacity 28.615kW (DC).
                        attempted_value: '30.2222'
                      '7050957':
                        error: >-
                          The facility_size 30.2222kW is different than the
                          total panels capacity 29.585kW (DC).
                        attempted_value: '30.2222'
                    facility_creation_attempt: []
                missing_params:
                  summary: Fix applied but validation failed (per-row errors)
                  value:
                    success: false
                    error: No correction value provided
                    validation: {}
                    facility_creation_attempt: []
        '403':
          description: No access to upload
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ForbiddenResponse'
                    type: object
  /facilities/{facility_id}/generation/meters/{meter_id}/readings/eligibility:
    get:
      tags:
        - Meter Readings
      summary: Check user can submit meter reading
      description: >-
        Check if the facility and meter are eligible for manual meter reading
        submissions.
      operationId: userCanSubmitMeterReading
      parameters:
        - name: facility_id
          in: path
          description: ID of the facility to check eligibility for
          required: true
          schema:
            type: integer
        - name: meter_id
          in: path
          description: ID of the meter to check eligibility for
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Eligibility check completed successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingEligibilityResult'
                    type: object
        '400':
          description: Bad request - invalid facility or meter ID
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/MeterReadingEligibilityBadRequestError
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/MeterReadingEligibilityServerError
                    type: object
  /facilities/{facility_id}/generation/meters/{meter_id}/readings:
    post:
      tags:
        - Meter Readings
      summary: Submit Meter Reading (Cumulative Meters Only)
      description: >-
        Submit a meter reading for a facility with a **cumulative meter only**.


        **Important**: This endpoint only accepts submissions for cumulative
        meters. Non-cumulative meters will be rejected with error code
        `CUMULATIVE_ONLY`.


        Supports both manual and automated submissions:

        - **Manual submission**: Provide `meter_reading` and
        `meter_reading_date_taken` (required for cumulative meters)

        - **Automated submission**: Provide `processing_id` to extract reading
        from automated processing system


        **Additional restrictions**:

        - First-time submissions are not allowed (at least one reading must
        already exist)

        - Meter must be verified and eligible for manual reading entry
      operationId: submitMeterReading
      parameters:
        - name: facility_id
          in: path
          description: The unique identifier of the facility
          required: true
          schema:
            type: integer
            example: 12345
            minimum: 1
        - name: meter_id
          in: path
          description: The unique identifier of the cumulative meter
          required: true
          schema:
            type: integer
            example: 67890
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ManualMeterReadingRequest'
                - $ref: '#/components/schemas/AutomatedMeterReadingRequest'
      responses:
        '200':
          description: Meter reading submitted successfully
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingSuccessResponse'
                    type: object
        '400':
          description: Bad Request - Validation failed or invalid parameters
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingErrorResponse'
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: Forbidden - User lacks permission to submit readings
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingErrorResponse'
                    type: object
        '404':
          description: Not Found - Facility not found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingErrorResponse'
                    type: object
        '410':
          description: Gone - Facility is inactive
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 410
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingErrorResponse'
                    type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingErrorResponse'
                    type: object
  /facilities/{facility_id}/generation/meters/{meter_id}/image-readings:
    post:
      tags:
        - Meter Readings
      summary: Process Meter Reading Image
      description: >-
        Accepts a meter reading photo and returns a processing ID for status
        tracking.
      operationId: processMeterReadingImage
      parameters:
        - name: facility_id
          in: path
          description: ID of the facility
          required: true
          schema:
            type: integer
        - name: meter_id
          in: path
          description: ID of the meter
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessMeterReadingImageRequest'
      responses:
        '200':
          description: Image accepted for processing
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ProcessMeterReadingImageSuccess'
                    type: object
        '400':
          description: Bad request - validation or file errors
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/ProcessMeterReadingImageBadRequestError
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '429':
          description: Too many failed photo submission attempts - manual entry required
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 429
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/ProcessMeterReadingImageMaxAttemptsError
                    type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/ProcessMeterReadingImageServerError
                    type: object
  /facilities/{facility_id}/generation/meters/{meter_id}/readings/{meter_readings_id}/verification:
    post:
      tags:
        - Meter Readings
      summary: Submit Verification for a Held Meter Reading
      description: >-
        Upload a photo and a written description to justify a held meter reading
        (held generation).


        This endpoint is used when a reading has been flagged as needing user
        action (status

        `held_high`, `held_low`, `held_less_than_previous`, or
        `srectrade_disapproved`). A

        successful submission changes the reading status to `pending_review`.


        **Validation rules**:

        - `facility_id`, `meter_id`, and `meter_readings_id` must be positive
        integers

        - The authenticated user's account must have access to the facility

        - The facility must be active (not closed/lost)

        - The `meter_id` must be the primary meter of the facility

        - The reading must exist, belong to the meter, and have a status that
        requires user action

        - An image file must be provided (`image` field, `multipart/form-data`)

        - Accepted image types: `png`, `gif`, `jpg`, `jpeg` (extension and MIME
        type are both validated)

        - A non-empty `description` is required (max 512 characters)
      operationId: submitReadingVerification
      parameters:
        - name: facility_id
          in: path
          description: The unique identifier of the facility
          required: true
          schema:
            type: integer
            example: 12345
            minimum: 1
        - name: meter_id
          in: path
          description: The unique identifier of the primary meter of the facility
          required: true
          schema:
            type: integer
            example: 67890
            minimum: 1
        - name: meter_readings_id
          in: path
          description: The unique identifier of the held meter reading to verify
          required: true
          schema:
            type: integer
            example: 98765
            minimum: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
                - image
                - description
              properties:
                image:
                  description: >-
                    Photo justifying the meter reading. Accepted types: png,
                    gif, jpg, jpeg.
                  type: string
                  format: binary
                description:
                  description: >-
                    Written justification for the held reading (1–512
                    characters).
                  type: string
                  example: Meter was temporarily obstructed by construction equipment.
                  maxLength: 512
                  minLength: 1
              type: object
      responses:
        '201':
          description: Verification submitted — reading moved to `pending_review`
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 201
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/SubmitReadingVerificationSuccess'
                    type: object
        '400':
          description: '`NO_IMAGE` — the `image` field is absent from the request.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ApiResponseDTO'
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '403':
          description: >-
            Forbidden. Possible `error` codes:

            - `permission_denied` — user lacks the `REPORT_PRODUCTION` ACL
            permission

            - `FACILITY_ACCESS_DENIED` — user's account cannot access this
            facility

            - `INACTIVE_FACILITY` — the facility has been closed/lost
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 403
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ApiResponseDTO'
                    type: object
        '404':
          description: >-
            Not Found. Possible `error` codes:

            - `FACILITY_NOT_FOUND` — no facility exists for the given
            `facility_id`

            - `READING_NOT_FOUND` — reading does not exist or does not belong to
            the given meter
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ApiResponseDTO'
                    type: object
        '409':
          description: >-
            Conflict — `READING_NOT_ELIGIBLE`. The reading exists but its
            current status does not

            require user action (e.g. it is already approved, pending review, or
            fully processed).
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 409
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ApiResponseDTO'
                    type: object
        '422':
          description: >-
            Unprocessable Entity — request is well-formed but data validation
            failed. Possible `error` codes:

            - `invalid_parameters` — one or more path IDs are not valid positive
            integers

            - `METER_ID_MISMATCH` — `meter_id` is not the primary meter of the
            facility

            - `INVALID_IMAGE_TYPE` — image extension not in the allowed list
            (png, gif, jpg, jpeg)

            - `INVALID_IMAGE` — file MIME type does not match the declared
            extension

            - `INVALID_DESCRIPTION` — description is missing, empty, or exceeds
            512 characters
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 422
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ApiResponseDTO'
                    type: object
        '500':
          description: >-
            Internal Server Error. Possible `error` codes:

            - `IMAGE_UPLOAD_FAILED` — the document storage service returned an
            error

            - `DOCUMENT_REFERENCE_MISSING` — the upload succeeded but returned
            no document reference

            - `UPDATE_FAILED` — the database update of the reading record failed
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 500
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/ApiResponseDTO'
                    type: object
  /facilities/{facility_id}/generation/meters/{meter_id}/image-readings/{processing_id}:
    get:
      tags:
        - Meter Readings
      summary: Get Meter Reading Image Processing Status
      description: >-
        Poll for OCR completion and report failures. Returns the status of a
        submitted meter reading image OCR processing.


        The `processing_id` is returned by the POST endpoint when uploading an
        image.
      operationId: getMeterReadingImageProcessingStatus
      parameters:
        - name: facility_id
          in: path
          description: The unique identifier of the facility
          required: true
          schema:
            type: integer
            example: 158830
            minimum: 1
        - name: meter_id
          in: path
          description: The unique identifier of the meter
          required: true
          schema:
            type: integer
            example: 140561
            minimum: 1
        - name: processing_id
          in: path
          description: The processing ID returned from the image upload (POST) request
          required: true
          schema:
            type: integer
            example: 12345
            minimum: 1
      responses:
        '200':
          description: OCR processing status and extracted data
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 200
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/MeterReadingImageProcessingStatus'
                    type: object
        '400':
          description: Bad Request - Invalid facility_id or access denied
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 400
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: >-
                          #/components/schemas/MeterReadingImageProcessingStatusBadRequestError
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 401
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/AuthError'
                    type: object
        '404':
          description: Not Found - Invalid processing id
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/ResponseEnvelope'
                  - properties:
                      code:
                        type: integer
                        example: 404
                      elements:
                        type: integer
                        example: 0
                    type: object
                  - properties:
[...]
